h1 {
    text-align: center;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: "Concert One", sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.container {
    background: linear-gradient(rgb(255, 0, 0), rgb(0, 255, 0), blue, yellow, magenta, cyan,);
    padding: 10px 0;
}

.marker {
    height: 25px;
    width: 200px;
    margin: 20px auto;
    border-radius: 3px;
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5); /* opacity called alpha. When you add or separate the opacity property. The border color black will have the opacity also. */
    border-left: 10px double rgba(0, 0, 0, 75%);
}

.cap {
    width: 60px;
    height: 25px;
}

.container .cap, .sleeve {
    display: inline-block;
}



.red {
    background: linear-gradient(180deg, rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 red;
}

.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 green;
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 blue;
}

.yellow {
    background: linear-gradient(rgb(156, 156, 115), rgb(255, 255, 5), rgb(156, 156, 52));
    box-shadow: 0 0 20px 0 yellow;
}

.cyan {
    background: linear-gradient(rgb(62, 94, 94), rgb(0, 255, 255), rgb(77, 146, 146));
    box-shadow: 0 0 20px 0 cyan;
}

.magenta {
    background: linear-gradient(rgb(73, 53, 73), rgb(255, 0, 255), rgb(70, 31, 70));
}

.orange {
    background: linear-gradient(rgb(94, 80, 56), rgb(255, 166, 0), rgb(151, 117, 54));
    box-shadow: 0 0 20px 0 orange;
}

.springGreen {
    background: linear-gradient(rgb(73, 102, 90), rgb(0, 255, 145), rgb(51, 151, 108));
    box-shadow: 0 0 20px 0 rgb(0, 225, 127);
}

.violet {
    background: linear-gradient(rgb(90, 64, 112), rgb(195, 117, 255), rgb(119, 66, 160));
    box-shadow: 0 0 20px 0 rgb(127, 0, 225);
}

.chartreuseGreen {
    background: linear-gradient(rgb(58, 82, 26), rgb(145, 255, 0), rgb(94, 151, 18));
    box-shadow: 0 0 20px 0 rgb(127, 225, 0);
}

.azure {
    background: linear-gradient(rgb(29, 51, 73), rgb(0, 127, 255), rgb(22, 115, 207));
    box-shadow: 0 0 20px 0 rgb(0, 127, 255);
}

.rose {
    background: linear-gradient(rgb(59, 25, 42), rgb(255, 0, 127), rgb(177, 43, 110));
    box-shadow: 0 0 20px 0 rgb(255, 0, 127);
}